@define-color base #29273d;
@define-color mantle #323642;
@define-color crust #252339;

@define-color text #d8dee9;
@define-color subtext0 #e5e9f0;
@define-color subtext1 #eceff4;

@define-color surface0 #312f45;
@define-color surface1 #545260;
@define-color surface2 #323046;

@define-color overlay0 #2a283e;
@define-color overlay1 #2e2c42;
@define-color overlay2 #242238;

@define-color overlay2 #9399b2;
@define-color blue #8be9fd;
@define-color purple #bd93f9;
@define-color green #50fa7b;
@define-color yellow #f1fa8c;
@define-color orange #ffb86c;
@define-color red #ff5555;
@define-color pink #ff79c6;
@define-color beige #bc8c7c;

* {
  font-family: "Fira Code Nerd Font Mono";
  outline: none;
  outline-width: none;
  font-size: 12px;
}

#window {
  background-color: @base;
  color: @text;
}

#outer-box {
  padding: 20px;
}

#input {
  background-color: @surface2;
  border: none;
  padding: 8px 12px;
  outline: none;
}

#scroll {
  margin-top: 20px;
}

#img {
  padding-right: 8px;
}

#text {
  color: @text;
}

#text:selected {
  color: @base;
}

#entry {
  padding: 6px;
}

#entry:selected {
  background-color: @beige;
  color: @subtext1;
}

#input,
#entry:selected {
  border-radius: 4px;
}
